<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<logger name="jdbc.sqlonly" level="INFO"/>
	<logger name="jdbc.sqltiming" level="ERROR"/>
	<logger name="jdbc.audit" level="ERROR"/>
	<logger name="jdbc.resultset" level="ERROR"/>
	<logger name="jdbc.resultsettable" level="ERROR"/>
	<logger name="jdbc.connection" level="ERROR"/>
</configuration>