<div>
  <h2 mat-dialog-title>Map Setting</h2>
  <hr>
  <mat-dialog-content>

    <p>Choose the distance for the calculation of the heatmap values: (in k meter)</p>
    <mat-slider thumbLabel [(ngModel)]="heatmapRequest.maxDistanceInMeter"
    [displayWith]="formatLabel"
     style="min-width: 350px;" thumbLabel tickInterval="1000" min="1000" max="50000" step="1000" value="3000"></mat-slider>
    <br>
    <p>Choose the insurances of the doctors:  <button mat-raised-button (click)="onDeSelectAllInsurances()"> (De-)Select all</button>
    </p>

    <div *ngFor="let insurance of insurances">
      <mat-checkbox type="example-margin" [(ngModel)]="insurance.isChecked" [ngModelOptions]="{standalone: true}"> </mat-checkbox>
         {{insurance.name}}
      </div>
    <br>
    <p>Choose the specialities of the doctors:     <button mat-raised-button (click)="onDeSelectAllSpecialities()"> (De-)Select all</button>    
    </p>

    <div *ngFor="let speciality of specialities">
      <mat-checkbox type="example-margin" [(ngModel)]="speciality.isChecked" [ngModelOptions]="{standalone: true}"> </mat-checkbox>
         {{speciality.name}}
    </div>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onCloseConfirm()">CONFIRM</button>&nbsp;
    <button mat-raised-button (click)="onCloseCancel()">CANCEL</button>
  </mat-dialog-actions>
</div>